body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(29, 142, 177);
}

.container {
  display: flex;
  flex-direction: column;
  border: solid 5px rgba(0, 0, 0, 0.048);
  border-radius: 20px;
  padding: 30px;
  margin: 20px 25%;
  background-color: rgba(209, 214, 216, 0.856);
}

.screen {
  border: solid 3px rgba(0, 0, 0, 0.445);
  border-radius: 20px;
  margin: 8px 0 20px;
  padding: 10px;
  background-color: rgb(233, 233, 233);
  word-wrap: break-word;
  max-width: 370px;
  flex: 2 0 120px;
}

.history {
  font-size: 25px;
  color:rgb(104, 104, 104)
}

.buttons {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(5, 1fr);
  gap: 10px;

}

button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  background-color: rgb(255, 255, 255);
  border: solid 2px rgba(0, 0, 0, 0.459);
  border-radius: 20px;
  padding: 15px;
}

.equals {
  grid-column: span 2;
}

.fcn.neg {
  background-color: rgb(233, 233, 233); 
  font-size: 18px; 
}

.operator {
  background-color: rgba(80, 148, 238, 0.425);
  font-size: 20px;
}

.fcn {
  background-color: rgba(86, 198, 226, 0.822);
  font-size: 20px;
}

.footer {
  text-align: center;
  color: white;
}